In [1]:
import numpy as np
import pandas as pd

In [2]:
#Index Levels
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index= list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [6]:

df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [7]:
df

             A         B
G1 1  0.179476 -0.099982
   2  0.040528 -0.588083
   3  0.211105  0.444463
G2 1  0.062501  0.697123
   2 -0.117625 -2.260068
   3  0.349927 -0.205134

In [8]:
df.loc['G1']

          A         B
1  0.179476 -0.099982
2  0.040528 -0.588083
3  0.211105  0.444463

In [9]:
df.index.names=['Groups','Num']

In [10]:
df

                   A         B
Groups Num
G1     1    0.179476 -0.099982
       2    0.040528 -0.588083
       3    0.211105  0.444463
G2     1    0.062501  0.697123
       2   -0.117625 -2.260068
       3    0.349927 -0.205134

In [11]:
df.loc['G2'].loc[2]['B']

np.float64(-2.2600684023179927)

In [12]:
df.loc['G1'].loc[3]['A']

np.float64(0.21110469922419323)

In [13]:
df.xs('G1')

            A         B
Num
1    0.179476 -0.099982
2    0.040528 -0.588083
3    0.211105  0.444463

In [14]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.179476 -0.099982
G2      0.062501  0.697123